body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgba(90, 50, 90, 0.9);
    text-align: center;
    background-color: #eeeefe;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    padding: 20px 0px;
}

nav a {
    box-sizing: border-box;
    padding-bottom: 8px;
}

a:hover {
    font-size: 110%;
    color: darkred;
    border-bottom: solid darkred 1px;
}

header {
    width: 70%;
    margin: 30px auto;
    padding: 30px 30px;

}

.container {
    width: 70%;
    margin: 0px auto;
    padding: 30px 30px;
    background-color: rgba(50, 10, 50, 0.5);
    border: solid rgba(120, 100, 100, 0.7) 1px;
    box-shadow: 0px 2px rgba(50, 50, 50, 0.3);

}

.sarah {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    align-items: baseline;
}

.logo-div {
    font-size: 20px;
    font-family: cursive;
    margin-right: 30px;
    background-color: white;
    padding: 20px 20px;
    border: solid #333 1px;
    border-radius: 50%;
    color: #dd3555;

}

.sarahcressatti {
    font-weight: 300;
    font-size: 30px;
}

.tagline {
    text-align: left;
    margin: 10px 0px 0px 2px;
    font-size: 14px;
    opacity: 0.5;
}

.left-margin, .right-margin {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #552222;
    opacity: 0.7;
    width: 20px;
}

.container img {
    border: solid #555 1px;
    border-radius: 50%;
    box-shadow: -2px 1px #888;
    text-align: left;
}

.left-margin {left: 0;}
.right-margin{right: 0;}